@media (min-width: 700px) {

  body {
    padding: 8rem;
  }

  main {
    max-width: 1020px;

    display: flex;
    gap: 10rem;
  }

  main>div {
    max-width: 484px;
  }

  main ul li {
    max-width: 450px;
    gap: 5.3rem;
    align-items: center;
  }
}